body {
  width: 100%;
  height: 100vh;
  background-color: beige;
  overflow-x: hidden;
}

#root {
  width: inherit;
  height: inherit;
}

.app {
  display: flex;
  width: inherit;
  height: inherit;
}
/* .section-menu {
  width: 250px;
  background-color: khaki;
  height: 100%;
}

.section-content {
  height: inherit;
  background-color: lightblue;
  flex-grow: 1; */
/* } */
div > .sidebar {
  width: 250px;
  flex-shrink: 0;
  background-color: #ff6347;
  align-items: center;
}

.content,
.content__dashboard {
  flex-grow: 1;
  height: 100%;

  background-color: white;
}

.cards-section {
  width: 100%;
  height: 150px;
  background-color: wheat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}

.card {
  flex-grow: 1;
  height: 120px;
  background-color: teal;
  margin: 10px;
}

.content__table {
  height: calc(100% - 150px);
}
